.site-branding img {
  padding: 0;
}

.header {
  .button {
    padding: 0 0.5em;
    margin-left: 0.5em;
    line-height: 2.1;
  }

  .button-primary {
    color: #fff;
    opacity: 1;
  }

  h1 {
    margin-top: 0;
    line-height: $size-site-header-height;
    display: inline-block;
    color: #fff;
  }

  .icon {
    font-size: 100%;
  }
}

@include desktop {
  .header .menu-item {
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

@include mobile {
  .header-right .menu {
    margin-bottom: 1rem;
  }
  .header-right .menu li {
    display: inline-block;
    padding: 0 10px;
  }
}

.main {
  min-height: 480px;
}


.footer-logo {
  height: 48px;
  width: auto;
}

.footer a {
    color: #5d5d5d!important;
}

.footer a:hover {
    text-decoration: underline;
}

ins {
  background: transparent;
}

h1, h2, h3, h4, h5, h6,
.h1, h2, h3, h4, h5, h6,
.header .title {
  font-weight: 600;
}
