.sdr-submenu {
  margin-top: $size-element-spacing;
  
  .button {
    margin-right: 0.7em;
    font-size: 80%;
    padding: 0 1em;
    line-height: 2.2;

    .icon {
      margin-right: 3px;
    }

    &:hover, &:focus {
      color: inherit;
      border: 1px solid #eee;
    }
    
    &:active, &.router-link-active {
      background-color: #fafafa;
      border: 1px solid #eee;
    }
  }
}

@include mobile {
  .sdr-submenu {
    margin: 0;

    .button {
      margin-right: 0;
      padding: 0 0.5em;
    }
  }
}