body {
  background: $color-background-light;
}

.content {
  background: #fff;
}

.container {
  max-width: 1960px;
}

.container-content {
  max-width: 1240px;
}

@include desktop {
  .wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 90vh;
  }

  .content {
    flex: 1;    
    border-left: 1px solid $color-default-border;
    border-right: 1px solid $color-default-border;

    .container-readable {
      padding: 0 30px;
    }
  }

  .sidebar-left {
    flex: 0 0 230px;
    order: -1;
  }

  .sidebar-right {
    flex: 0 0 320px;
  }
  
  .sidebar-content {
    width: 100%;
    margin: 2em 0;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 1180px) {
  .sidebar-right {
    display: none;
  }
}

@include mobile {
  body {
    background-color: #fff;
  }

  .sidebar-right {
    display: none;
  }

  .footer-credit {
    padding-bottom: 5rem;
  }
}