ul.sdr-list {
  list-style: none;
  padding: 0;
  min-height: 400px;

  li {
    margin: 0.5em 0 30px;
  }

  .entry-title {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .entry-content {
    color: lighten($color-text, 20);
  }
}

@include mobile {
  .sdr-list .entry-title {
    font-size: 19px;
  }
}