$color-primary: #4078c0;
$size-site-header-height: 52px;
$color-background-dark: #2c2c2c;
$color-background-light: #f8f8f8;

$color-text:  rgb(41, 41, 41);
$color-headings: $color-text;
$color-default-border: #e4e4e4;

$color-footer-default-background: #f8f8f8;