extends ./_layout-root.pug
block header
  header.header
    .container
      .header-wrapper
        .header-branding
          a(href='https://superdevresources.com/').site-branding
            img(src="/img/sdr-logo.png")
            h1.title.screen-reader-text SDR News
        .header-menu
          +menu(data.menu.main, 'menu main-menu')
        .header-sidemenu
          +menu(data.menu.secondary, 'menu')
        .expandable-search
          include ./../_includes/search-form.html
        
block content
  != page.content

block footer   
  footer.footer
    .container
      .footer-main.container-content 
        div.grid        
          div.one-fourth
            a(href='https://superdevresources.com/')
              img.footer-logo(src="/img/sdr-logo.png")
            div We collect, create and publish awesome free web design and development resources.
              |  <a class="text-small" href="https://superdevresources.com/about/">Learn More</a>
              p Join our <a href="https://superdevresources.com/subscribe/">Newsletter</a> for updates.
          div.one-fourth
            h3.h4 Browse
            +menu(data.menu.main)
          div.one-fourth
            h3.h4 About
            +menu(data.menu.footer)
          div.one-fourth
            h3.h4 Follow
            +menu(data.menu.social)
      div.footer-credit.section.text-center
        div.container-content
          div.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
            br
            | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> and <a href="https://mmcss.kunruchcreations.com/" target="_blank">mmcss</a>
            | - <a href="#top" data-uk-smooth-scroll="">↑ Back to top</a>

block scripts
  script(src='/scripts/main.js')
