html
{
    font-family: sans-serif;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    background-color: transparent;
}

a:active,
a:hover
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

mark
{
    color: #000; 
    background: #ff0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 40px;
}

hr
{
    box-sizing: content-box;
    height: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0; 

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer; 

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0; 

    border: 0;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em; 

    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0; 

    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0; 
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-size: 1em;
    line-height: 1.6;

    word-wrap: break-word; 

    color: #333;
}

p
{
    margin-top: 0;
}

dfn,
cite,
em,
i
{
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 700;
    line-height: 1.25;

    clear: both;

    margin-top: 0; 

    letter-spacing: -.01rem;

    color: #333;
}

h1,
.h1
{
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.3;
}

h2,
.h2
{
    font-size: 29.6px;
    font-size: 1.85rem;
    line-height: 1.25;
}

h3,
.h3
{
    font-size: 28px;
    font-size: 1.75rem;
}

h4,
.h4
{
    font-size: 24px;
    font-size: 1.5rem;
}

h5,
.h5
{
    font-size: 22.4px;
    font-size: 1.4rem;
}

h6,
.h6
{
    font-size: 20.8px;
    font-size: 1.3rem;
}

@media (min-width: 768px)
{
    h1,
    .h1
    {
        font-size: 48px;
        font-size: 3rem;
    }
    h2,
    .h2
    {
        font-size: 36px;
        font-size: 2.25rem;
    }
    h3,
    .h3
    {
        font-size: 29.6px;
        font-size: 1.85rem;
    }
    h4,
    .h4
    {
        font-size: 28px;
        font-size: 1.75rem;
    }
    h5,
    .h5
    {
        font-size: 24px;
        font-size: 1.5rem;
    }
    h6,
    .h6
    {
        font-size: 22.4px;
        font-size: 1.4rem;
    }
}

html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body
{
    background: #fff;
}

blockquote,
q
{
    quotes: '' '';
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}

hr
{
    height: 1px;
    margin-bottom: 1.5rem; 

    border: 0;
    background-color: #dedede;
}

input,
textarea,
select,
fieldset
{
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
form,
address
{
    margin-bottom: 1.5rem;
}

abbr,
acronym
{
    cursor: help; 

    border-bottom: 1px dotted;
}

mark,
ins
{
    text-decoration: none; 

    background: #f2f2f2;
}

big
{
    font-size: 125%;
}

a
{
    text-decoration: none; 

    color: #3498db;
}
a:hover
{
    border-bottom: 1px solid;
}

ul,
ol
{
    margin: 0 0 1.5rem 0;
}

ul
{
    list-style: disc;
}

ol
{
    list-style: decimal;
}

li > ul,
li > ol
{
    margin-top: .3rem;
    margin-bottom: 0;
    margin-left: .5rem;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 1.5rem 1.5rem;
}

dt,
li
{
    margin-bottom: .3rem;
}

blockquote
{
    margin-right: 0;
    margin-left: 0;
    padding: 1.5rem; 

    border: 1px solid #f2f2f2;
    background: #fafafa;
}
blockquote *:last-child
{
    margin: 0;
}

img
{
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    height: auto;
    /* Adhere to container width. */
}

table
{
    width: 100%;
    margin: 0 0 1.5rem;
}

th,
td
{
    padding: 1rem;

    text-align: left; 

    border-bottom: 1px solid #f2f2f2;
}
th:first-child,
td:first-child
{
    padding-left: 0;
}
th:last-child,
td:last-child
{
    padding-right: 0;
}

code,
kbd,
tt,
var,
pre
{
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 80%;
}

code,
kbd,
tt
{
    padding: 3px 8px;

    white-space: nowrap; 

    border-radius: 3px;
    background: #f2f2f2;
}

pre
{
    line-height: 1.8;

    padding: 1rem 1.5rem; 

    color: black;
    border: 2px solid #f2f2f2;
    background: transparent;
}
pre > code
{
    font-size: inherit;

    display: block;

    padding: 0;

    white-space: pre; 

    border: 0;
    border-radius: 0;
    background: transparent;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
{
    font-weight: 400;
    line-height: 2.5;

    display: inline-block;

    box-sizing: border-box;
    padding: 0 1.5rem;

    cursor: pointer;
    text-align: center;
    white-space: nowrap; 
    text-decoration: none;
    letter-spacing: .05em;

    color: #fff;
    border: 1px solid #3498db;
    border-radius: 3px;
    background-color: #3498db;
}
.button:hover,
.button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus
{
    color: #fff;
    border-color: #258cd1;
    outline: 0; 
    background-color: #258cd1;
}
.button.button-ghost,
button.button-ghost,
input[type='button'].button-ghost,
input[type='reset'].button-ghost,
input[type='submit'].button-ghost
{
    color: #3498db;
    background-color: transparent;
}
.button.button-ghost:hover,
.button.button-ghost:focus,
button.button-ghost:hover,
button.button-ghost:focus,
input[type='button'].button-ghost:hover,
input[type='button'].button-ghost:focus,
input[type='reset'].button-ghost:hover,
input[type='reset'].button-ghost:focus,
input[type='submit'].button-ghost:hover,
input[type='submit'].button-ghost:focus
{
    color: #fff;
    border-color: #3498db; 
    background-color: #3498db;
}
.button.button-rounded,
button.button-rounded,
input[type='button'].button-rounded,
input[type='reset'].button-rounded,
input[type='submit'].button-rounded
{
    padding: 0 2.25rem; 

    border-radius: 3rem;
}
.button.button-text,
button.button-text,
input[type='button'].button-text,
input[type='reset'].button-text,
input[type='submit'].button-text
{
    color: #3498db;
    border-color: transparent; 
    background-color: transparent;
}
.button.button-text:hover,
.button.button-text:focus,
button.button-text:hover,
button.button-text:focus,
input[type='button'].button-text:hover,
input[type='button'].button-text:focus,
input[type='reset'].button-text:hover,
input[type='reset'].button-text:focus,
input[type='submit'].button-text:hover,
input[type='submit'].button-text:focus
{
    color: #258cd1;
    border-color: transparent; 
    background-color: transparent;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select
{
    font-weight: 400;

    box-sizing: border-box;
    width: 100%; 
    padding: 8px 12px;

    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus
{
    border: 1px solid #3498db;
    outline: 0;
}

label,
legend
{
    font-weight: 700;

    display: block;

    margin-bottom: .5rem;
}

fieldset
{
    padding: 0; 

    border-width: 0;
}

input[type='checkbox'],
input[type='radio']
{
    display: inline;
}

.label-inline
{
    font-weight: normal;

    display: inline-block;

    margin-left: .5rem;
}

nav ul
{
    margin: 0;
    padding-left: 0; 

    list-style: none;
}

nav ul ul
{
    margin-top: .5rem;
    padding-left: 1.5rem;
}

.grid
{
    display: -ms-flexbox;
    display: flex;

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.grid:after
{
    display: block;
    clear: both; 

    content: ' ';
}

@media (min-width: 768px)
{
    .one-half
    {
        float: left;

        width: 44.44444%;
        margin-right: 11.11111%;
    }
    .one-half:nth-child(2n+0)
    {
        float: right;

        margin-right: 0;
    }
    .one-third
    {
        float: left;

        width: 28.57143%;
        margin-right: 7.14286%;
    }
    .one-third:nth-child(3n+0)
    {
        float: right;

        margin-right: 0;
    }
    .one-fourth
    {
        float: left;

        width: 21.05263%;
        margin-right: 5.26316%;
    }
    .one-fourth:nth-child(4n+0)
    {
        float: right;

        margin-right: 0;
    }
}

/* Text meant only for screen readers. */
.screen-reader-text
{
    position: absolute !important;

    overflow: hidden; 
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
}
.screen-reader-text:focus
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: normal;

    z-index: 100000; 
    top: 5px;
    left: 5px;

    display: block;
    clip: auto !important;

    width: auto;
    height: auto;
    padding: 15px 23px 14px;

    text-decoration: none;

    color: #3498db;
    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

.container-full
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-wide
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-content
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-readable
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-full:after,
.container-wide:after,
.container-content:after,
.container-readable:after
{
    display: table;
    clear: both; 

    content: '';
}

.section
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section-medium
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-large
{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.section-hero
{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.site-header
{
    position: relative;
    z-index: 99;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    text-align: center; 

    color: #333;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

.header-left
{
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.header-right
{
    position: absolute;
    top: 1.5rem; 
    right: 1.5rem;
}

.site-title
{
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 42px;

    margin: 0;
}
.site-title a
{
    color: #333;
}
.site-title a:hover
{
    border: 0;
}

.site-description
{
    margin: 0;
}

.site-header .search-form
{
    margin: 0;
}
.site-header .search-form input,
.site-header .search-form .search-box
{
    margin: 0;
}
.site-header .search-form input[type='submit']
{
    display: none;
}
.site-header .search-form input[type='search']
{
    font-style: italic; 

    border-color: transparent;
    background: whitesmoke;
}

.site-sub-header
{
    margin-bottom: 3.5rem; 

    text-align: center;

    color: #333;
    background-color: #fafafa;
}
.site-sub-header h1,
.site-sub-header h2
{
    font-weight: 500;

    margin-top: 0; 

    color: #333;
}
.site-sub-header h1:last-child,
.site-sub-header h2:last-child
{
    margin-bottom: 0;
}

.main-navigation
{
    font-size: 16.8px;
    font-size: 1.05rem;
}
.main-navigation ul li
{
    line-height: 42px; 

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0 .75rem;
}
.main-navigation ul a
{
    display: block;

    text-decoration: none;

    color: rgba(51, 51, 51, .68);
    border-bottom: none;
}
.main-navigation ul a:hover
{
    color: #333;
}
.main-navigation ul .current-menu-item a
{
    color: #333;
}
.main-navigation ul ul
{
    position: absolute;
    z-index: 99999; 
    top: 42px;
    left: -999em;

    float: left;

    margin: 0;
    padding: 0;

    background: #fff;
}
.main-navigation ul ul ul
{
    top: 0; 
    left: -999em;
}
.main-navigation ul ul li
{
    padding: 0 .5rem;

    text-transform: none;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul
{
    left: 100%;
}
.main-navigation ul ul a
{
    min-width: 160px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul
{
    left: -.5rem;
}

.page-title
{
    margin-top: 3.5rem;
}

.entry-title
{
    margin-bottom: 1rem;
}
.entry-title a
{
    color: #333;
}
.entry-title a:hover
{
    color: #3498db;
    border-bottom: 0;
}

.entry-meta,
.entry-footer
{
    font-size: 16px;
    font-size: 1rem;

    color: #999;
}
.entry-meta > span,
.entry-footer > span
{
    margin-left: 1rem;
}
.entry-meta > span:first-child,
.entry-footer > span:first-child
{
    margin-left: 0;
}
.entry-meta a,
.entry-footer a
{
    color: #666;
}

article
{
    font-size: 16px;
    font-size: 1rem;
}
article h1,
article .h1,
article h2,
article .h2,
article h3,
article .h3
{
    margin-top: 3.5rem;
}
article h4,
article .h4,
article h5,
article .h5,
article h6,
article .h6
{
    margin-top: 1.5rem;
}

@media (min-width: 768px)
{
    article
    {
        font-size: 19px;
        font-size: 1.1875rem;
    }
}

.site-footer
{
    margin-top: 3.5rem; 

    color: #595959;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

.clearfix
{
    *zoom: 1;
}
.clearfix:after,
.clearfix:before
{
    display: table; 

    content: '';
}
.clearfix:after
{
    clear: both;
}

.text-center
{
    text-align: center;
}

.alignleft
{
    display: inline;
    float: left;

    margin-right: 1.5rem;
}

.alignright
{
    display: inline;
    float: right;

    margin-left: 1.5rem;
}

.aligncenter
{
    display: block;
    clear: both;

    margin-right: auto; 
    margin-left: auto;
}

.css-icon-search
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 32px;
    height: 32px;

    border: 0;
}
.css-icon-search:before
{
    display: block;

    width: 16px;
    height: 16px;

    content: '';

    border: 3px solid #333;
    border-radius: 100%; 
    background: transparent;
}
.css-icon-search:after
{
    position: absolute;
    top: 12px;
    left: 14px;

    display: block;

    width: 3px;
    height: 7px;
    margin-top: 0;

    content: '';
    transform: rotate(-45deg); 

    background: #333;
}

.search-box
{
    font-size: 16px;
    font-size: 1rem; 

    display: inline-block;

    margin-right: 1.5rem;
}

.search-expandable input[type='search']
{
    width: 200px;

    transition: width .4s;
}

.search-expandable input[type='search']:focus
{
    width: 300px;
}

.search-form .search-box
{
    position: relative;
}
.search-form .search-box .css-icon-search
{
    position: absolute;
    top: 11px; 
    right: 0;

    opacity: .4;
}
.search-form .search-box input[type='search']
{
    padding-right: 32px;
}