extends ./_layouts/_layout-main.pug

block vars
  - var title = 'News for Web Developers'
  - var description = 'Latest news for Web Developers aggregated from multiple sources on Web Design, WebDev, Fronted, CSS, JavaScript, PHP, VueJs, React.'

block content
  .main
    #app

block scripts
  script(src='/scripts/main.js')
