extends ./_layouts/_layout-main.pug

block vars
  - var title = 'News for Developers'
  - var description = 'Latest news for Web and App Developers aggregated from multiple sources on Web Design, Web Dev, Fronted, CSS, JavaScript, PHP, VueJs, React.'

block content
  .main
    #app

block scripts
  script(src='/scripts/main.js')
