extends ./_layouts/_layout-main.pug

block vars
  - var title = 'News for Independent Developers and Startups'
  - var description = 'Latest news for startups and independent app and web Developers on design, development and marking.'

block content
  .main
    #app

block scripts
  script(src='/scripts/main.js')
