extends ./_layouts/_layout-main.pug

block vars
  - var title = 'News for Web Developers'
  - var description = 'Latest news for Web Developers aggregated from multiple subreddits such as Web Design, WebDev, Fronted, CSS, JavaScript, PHP'

block content
  #app

block scripts
  script(src='/scripts/main.js')
