@import "vars";
@import "mmcss/src/mm";

.site-branding img {
  padding: 0;
}

.header {
  .menu {
    font-size: 82%;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .button-ghost {
    padding: 0 0.5em;
    margin-left: 0.5em;
    line-height: 2.1;
    border-color: #e4e4e4;
  }
}

.news-source {
  .label {
    margin-right: 1em;
    text-decoration: none;
  }
}

.news-list {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.news-list li {
    margin-bottom: 40px;
}

.thumbnail {
    background-color: #000;
    background-blend-mode: screen;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    border-bottom: 0;
    margin-top: 4px;
}

.thumbnail:visited {
    background-color: #999;
}

.thumbnail:hover {
    border-bottom: 0;
}

.entry-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}

.entry-title a:visited {
    color: #999;
}

.entry-title .title-domain {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #999;
}

.entry-meta {
    font-weight: 300;
    font-size: 95%;

    .dot {
      margin: 0 0.5em;
      color: #ccc;
    }
}

.entry-meta .category {
    font-size: 90%;
    font-weight: normal;
    letter-spacing: 0.04em;
}
